name: GitHub Release

on:
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  release:
    name: Release native binaries
    permissions:
      id-token: write
      attestations: write
      artifact-metadata: write
      contents: write
    strategy:
      matrix:
        kind: [ 'linux-amd64', 'linux-arm64', 'macos-amd64', 'macos-arm64', 'windows-amd64', 'windows-arm64' ]
        include:
          - kind: linux-amd64
            os: ubuntu-latest
            target: linux-x64
          - kind: linux-arm64
            os: ubuntu-24.04-arm
            target: linux-arm64
          - kind: macos-amd64
            os: macos-15-intel
            target: osx-x64
          - kind: macos-arm64
            os: macos-latest
            target: osx-arm64
          - kind: windows-amd64
            os: windows-latest
            target: win-x64
          - kind: windows-arm64
            os: windows-11-arm
            target: win-arm64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Build
        shell: bash
        run: |
          tag=$(git describe --tags --abbrev=0)
          date=$(date -u +"%Y-%m-%d")
          ASSEMBLY_VERSION="${tag//v}"
          jq --arg version "$ASSEMBLY_VERSION" --arg date "$date" \
            '.version = $version | .release_date = $date' \
            src/UnfoldedCircle.AdbTv/driver.json > tmp.json && mv tmp.json src/UnfoldedCircle.AdbTv/driver.json
          
          # Build everything
          release_name="unfolded-circle-adbtv-$tag-${{ matrix.kind }}"
          
          dotnet publish ./src/UnfoldedCircle.AdbTv/UnfoldedCircle.AdbTv.csproj -r ${{ matrix.target }} -c Release -o ./publish -p:Version="$ASSEMBLY_VERSION" -p:PublishAot=true
          if [ "${{ matrix.target }}" == "linux-arm64" ]; then
            mkdir driverdir && mkdir driverdir/bin && mkdir driverdir/config && mkdir driverdir/data
            cp publish/driver.json driverdir/driver.json
            cp publish/appsettings*.json driverdir/bin/
            # Download the latest version of adb for arm64
            curl -sL "$(curl -s https://api.github.com/repos/prife/adb/releases/latest | grep browser_download_url | cut -d\" -f4 | grep 'aarch64-29.0.6-optimize$')" -o adb
            chmod a+x adb
            mv adb driverdir/bin/

            cp publish/driver driverdir/bin/
            cp publish/driver.dbg driverdir/bin/
            tar -czvf unfolded-circle-adbtv-$tag-remote.tar.gz -C ./driverdir .

            # Delete output directory
            rm -r "./driverdir"
          fi
          
          if [ "${{ matrix.kind }}" = "windows-amd64" ] || [ "${{ matrix.kind }}" = "windows-arm64" ]; then
            # Pack to zip for Windows
            7z a -tzip "${release_name}.zip" "./publish/*"
          else
            # Pack tar.gz for non-Windows
            tar -czvf "${release_name}.tar.gz" -C ./publish .
          fi
          
          # Delete output directory
          rm -r "./publish"
      - name: Publish
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          files: |
            unfolded-circle-adbtv*.zip
            unfolded-circle-adbtv*.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Attest build provenance
        uses: actions/attest-build-provenance@v3.2.0
        with:
          subject-path: |
            unfolded-circle-adbtv*.tar.gz
            unfolded-circle-adbtv*.zip